
.i {
  display: flex;
  margin-top: 9rem;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.i-right{
  flex: 1;
  position: relative;
  overflow: hidden;
  opacity: .85;
}

.i-left-wrapper {
  padding: 1rem;
  
  display: block;
  flex-direction: column;
  margin-top: 7rem;
  justify-content: space-between;
}
.i-intro{
  display: block;
  
  margin-top: 6rem;
  font-size: 30px;
  font-weight: 300;
}
.i-name {
  font-size: 60px;
  
}
.i-title{
  height: auto;
  overflow: hidden;
  margin-top: .5rem;
  padding: .2rem;
}
.i-title-item{
  height: auto;
  font-size: 25px;
  font-weight: bold;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  
  
}
.i-title-wrapper{
  height: auto;
  margin-top: .75rem;
  animation: move 10s ease-in-out infinite alternate;
 }
 .cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
 }
 .cta a:hover {
   background: rgba(0, 0, 0, 0.2);
   color: var(--color-primary);
   transition: var(--transition);
   border-radius: 2px;
   border-color: var(--color-primary-variant)
 }

@keyframes move {
  25%{transform: translateY(-50px)}
  50%{transform: translateY(-100px)}
  75%{transform: translateY(-150px)}
  100%{transform: translateY(-200px)}
}

.i-img{
  display: block;
  max-width: 50%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 180px;
  right: 150px;
  border: 2px solid var(--color-primary);

}
.i-bg{
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
 
}
.i-skills {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-top: 2rem;
  margin-bottom: 4rem;
  gap: .5rem;
  
}
.i-skillslist{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and(max-width: 1024px){
  .i-img{
    display: flex;
    width: 50%;
    height: 25%;
    object-fit: scale-down;
    position: relative;
    top: 250px;
    right: 100px;
    border: 2px solid var(--color-primary-variant);
    overflow: hidden;
  }
  .i-title-wrapper{
    
    animation: move 10s ease-in-out infinite alternate;
   }
   .i-left-wrapper {
    
    margin-top: 10rem;
  }
  .i-intro {
      display: flex;
      flex-direction: column;
      margin-top: 20rem;
      font-size: 30px;
      font-weight: 300;
  }
  .i-left {
    margin-top: 4rem;
  }
  
}
@media only screen and(max-width: 600px){
  .i-img {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 100%;
    object-fit: scale-down;
    position: fixed;
    top: 120px;
    right: 100px;
    overflow: hidden;
   }
  .i-left-wrapper {
     margin-top: 12rem;
     justify-content: space-between;
     display: flex;
     position: relative;
     flex-direction: column;
   }
   .i-intro {
    display: block;
    flex-direction: column;
    margin-top: 20rem;
    font-size: 30px;
    font-weight: 300;
}
   .i-left {
     margin-top: 12rem;
   }
   .i {
     margin-top: 20rem;
   }
}