.footer {
  background-color: var(--color-primary);
  border-top:2px solid var(--color-bg);
  border-bottom:2px solid var(--color-bg);
  position: relative;
  height: 60px;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 8rem;
 }