.footer {
  background-color: rgb(37, 34, 34);
  border-top:2px solid rgb(27, 10, 10);
  border-bottom:2px solid rgb(27, 10, 10);
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
  text-align: center;
 }